.odd {

    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
}


#two {
    color: rgb(8, 44, 252);
    font-size: 36px;
}


.adjust-font-size {
    font-size: 24px;
}

#four {
    background-color: rgb(100, 255, 152);
    font-weight: bold;
}