.left,
.right {
    font-size: 28px;
    font-family:"Times New Roman", Helvetica, sans-serif ;

}


.left {
    background-color: black;
    color: white;
}

.right {
    background-color: rgb(251, 255, 0);
    color: black;
}